<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.home.title">Nutrientes Adicionales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nutrientes-adicionales" [routerLink]="['/nutrientes-adicionales/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.home.createLabel">
            Create new Nutrientes Adicionales
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nutrientesAdicionales?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.home.notFound">No nutrientesAdicionales found</span>
    </div>
    <div class="table-responsive" *ngIf="nutrientesAdicionales?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.valor">Valor</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.nutrientesAdicionales.unidadPorcion">Unidad Porcion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nutrientesAdicionales of nutrientesAdicionales ;trackBy: trackId">
                <td><a [routerLink]="['/nutrientes-adicionales', nutrientesAdicionales.id, 'view' ]">{{nutrientesAdicionales.id}}</a></td>
                <td>{{nutrientesAdicionales.descripcion}}</td>
                <td>{{nutrientesAdicionales.valor}}</td>
                <td>
                    <div *ngIf="nutrientesAdicionales.unidadPorcion">
                        <a [routerLink]="['../unidad-medida', nutrientesAdicionales.unidadPorcion?.id, 'view' ]" >{{nutrientesAdicionales.unidadPorcion?.abreviacion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/nutrientes-adicionales', nutrientesAdicionales.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nutrientes-adicionales', nutrientesAdicionales.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'nutrientes-adicionales', { outlets: { popup: nutrientesAdicionales.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
