<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-producto-heading" jhiTranslate="jhipsterSampleApplicationApp.producto.home.createOrEditLabel">Create or edit a Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.nombreAlimento" for="field_nombreAlimento">Nombre Alimento</label>
                    <input type="text" class="form-control" name="nombreAlimento" id="field_nombreAlimento"
                           formControlName="nombreAlimento"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.tamanoPorcion" for="field_tamanoPorcion">Tamano Porcion</label>
                    <input type="number" class="form-control" name="tamanoPorcion" id="field_tamanoPorcion"
                           formControlName="tamanoPorcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.medidaCasera" for="field_medidaCasera">Medida Casera</label>
                    <input type="number" class="form-control" name="medidaCasera" id="field_medidaCasera"
                           formControlName="medidaCasera"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.valorEnergetico" for="field_valorEnergetico">Valor Energetico</label>
                    <input type="number" class="form-control" name="valorEnergetico" id="field_valorEnergetico"
                           formControlName="valorEnergetico"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.caloriasGrasa" for="field_caloriasGrasa">Calorias Grasa</label>
                    <input type="number" class="form-control" name="caloriasGrasa" id="field_caloriasGrasa"
                           formControlName="caloriasGrasa"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTotal" for="field_grasaTotal">Grasa Total</label>
                    <input type="number" class="form-control" name="grasaTotal" id="field_grasaTotal"
                           formControlName="grasaTotal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.grasaSaturada" for="field_grasaSaturada">Grasa Saturada</label>
                    <input type="number" class="form-control" name="grasaSaturada" id="field_grasaSaturada"
                           formControlName="grasaSaturada"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.grasaInsaturada" for="field_grasaInsaturada">Grasa Insaturada</label>
                    <input type="number" class="form-control" name="grasaInsaturada" id="field_grasaInsaturada"
                           formControlName="grasaInsaturada"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTrans" for="field_grasaTrans">Grasa Trans</label>
                    <input type="number" class="form-control" name="grasaTrans" id="field_grasaTrans"
                           formControlName="grasaTrans"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.colesterol" for="field_colesterol">Colesterol</label>
                    <input type="number" class="form-control" name="colesterol" id="field_colesterol"
                           formControlName="colesterol"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.sodio" for="field_sodio">Sodio</label>
                    <input type="number" class="form-control" name="sodio" id="field_sodio"
                           formControlName="sodio"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.carbohidrato" for="field_carbohidrato">Carbohidrato</label>
                    <input type="number" class="form-control" name="carbohidrato" id="field_carbohidrato"
                           formControlName="carbohidrato"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.fibraDietaria" for="field_fibraDietaria">Fibra Dietaria</label>
                    <input type="number" class="form-control" name="fibraDietaria" id="field_fibraDietaria"
                           formControlName="fibraDietaria"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.fibraInsoluble" for="field_fibraInsoluble">Fibra Insoluble</label>
                    <input type="number" class="form-control" name="fibraInsoluble" id="field_fibraInsoluble"
                           formControlName="fibraInsoluble"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.fibraSoluble" for="field_fibraSoluble">Fibra Soluble</label>
                    <input type="number" class="form-control" name="fibraSoluble" id="field_fibraSoluble"
                           formControlName="fibraSoluble"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.azucares" for="field_azucares">Azucares</label>
                    <input type="number" class="form-control" name="azucares" id="field_azucares"
                           formControlName="azucares"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.proteina" for="field_proteina">Proteina</label>
                    <input type="number" class="form-control" name="proteina" id="field_proteina"
                           formControlName="proteina"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaA" for="field_vitaminaA">Vitamina A</label>
                    <input type="number" class="form-control" name="vitaminaA" id="field_vitaminaA"
                           formControlName="vitaminaA"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaC" for="field_vitaminaC">Vitamina C</label>
                    <input type="number" class="form-control" name="vitaminaC" id="field_vitaminaC"
                           formControlName="vitaminaC"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.calcio" for="field_calcio">Calcio</label>
                    <input type="number" class="form-control" name="calcio" id="field_calcio"
                           formControlName="calcio"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.hierro" for="field_hierro">Hierro</label>
                    <input type="number" class="form-control" name="hierro" id="field_hierro"
                           formControlName="hierro"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.gluten" for="field_gluten">Gluten</label>
                    <input type="checkbox" class="form-control" name="gluten" id="field_gluten"
                           formControlName="gluten"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.azucar" for="field_azucar">Azucar</label>
                    <input type="checkbox" class="form-control" name="azucar" id="field_azucar"
                           formControlName="azucar"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.integral" for="field_integral">Integral</label>
                    <input type="checkbox" class="form-control" name="integral" id="field_integral"
                           formControlName="integral"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
                    <div class="d-flex">
                        <input id="field_fechaCreacion" type="datetime-local" class="form-control" name="fechaCreacion" formControlName="fechaCreacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.fechaUltimaModificacion" for="field_fechaUltimaModificacion">Fecha Ultima Modificacion</label>
                    <div class="d-flex">
                        <input id="field_fechaUltimaModificacion" type="datetime-local" class="form-control" name="fechaUltimaModificacion" formControlName="fechaUltimaModificacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.estadoActivo" for="field_estadoActivo">Estado Activo</label>
                    <input type="checkbox" class="form-control" name="estadoActivo" id="field_estadoActivo"
                           formControlName="estadoActivo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.codigoDeBarras" for="field_codigoDeBarras">Codigo De Barras</label>
                    <input type="text" class="form-control" name="codigoDeBarras" id="field_codigoDeBarras"
                           formControlName="codigoDeBarras"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.unidadPorcion" for="field_unidadPorcion">Unidad Porcion</label>
                    <select class="form-control" id="field_unidadPorcion" name="unidadPorcion" formControlName="unidadPorcion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unidadMedidaOption.id === editForm.get('unidadPorcion').value?.id ? editForm.get('unidadPorcion').value : unidadMedidaOption" *ngFor="let unidadMedidaOption of unidadmedidas; trackBy: trackUnidadMedidaById">{{unidadMedidaOption.abreviacion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.unidadMedidaCasera" for="field_unidadMedidaCasera">Unidad Medida Casera</label>
                    <select class="form-control" id="field_unidadMedidaCasera" name="unidadMedidaCasera" formControlName="unidadMedidaCasera">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unidadMedidaOption.id === editForm.get('unidadMedidaCasera').value?.id ? editForm.get('unidadMedidaCasera').value : unidadMedidaOption" *ngFor="let unidadMedidaOption of unidadmedidas; trackBy: trackUnidadMedidaById">{{unidadMedidaOption.abreviacion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.marca" for="field_marca">Marca</label>
                    <select class="form-control" id="field_marca" name="marca" formControlName="marca">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="marcaOption.id === editForm.get('marca').value?.id ? editForm.get('marca').value : marcaOption" *ngFor="let marcaOption of marcas; trackBy: trackMarcaById">{{marcaOption.nombreMarca}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.producto.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" formControlName="categoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaOption.id === editForm.get('categoria').value?.id ? editForm.get('categoria').value : categoriaOption" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.nombreCategoria}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="jhipsterSampleApplicationApp.producto.tags" for="field_tags">Tags</label>
                    <select class="form-control" id="field_tags" multiple name="tags" formControlName="tags">
                        <option [ngValue]="getSelected(editForm.get('tags').value, tagsOption)" *ngFor="let tagsOption of tags; trackBy: trackTagsById">{{tagsOption.descripcion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="jhipsterSampleApplicationApp.producto.nutrientesAdicionales" for="field_nutrientesAdicionales">Nutrientes Adicionales</label>
                    <select class="form-control" id="field_nutrientesAdicionales" multiple name="nutrientesAdicionales" formControlName="nutrientesAdicionales">
                        <option [ngValue]="getSelected(editForm.get('nutrientesAdicionales').value, nutrientesAdicionalesOption)" *ngFor="let nutrientesAdicionalesOption of nutrientesadicionales; trackBy: trackNutrientesAdicionalesById">{{nutrientesAdicionalesOption.descripcion}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
