<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.producto.home.createLabel">
            Create new Producto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productos?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.producto.home.notFound">No productos found</span>
    </div>
    <div class="table-responsive" *ngIf="productos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreAlimento"><span jhiTranslate="jhipsterSampleApplicationApp.producto.nombreAlimento">Nombre Alimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tamanoPorcion"><span jhiTranslate="jhipsterSampleApplicationApp.producto.tamanoPorcion">Tamano Porcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medidaCasera"><span jhiTranslate="jhipsterSampleApplicationApp.producto.medidaCasera">Medida Casera</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorEnergetico"><span jhiTranslate="jhipsterSampleApplicationApp.producto.valorEnergetico">Valor Energetico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="caloriasGrasa"><span jhiTranslate="jhipsterSampleApplicationApp.producto.caloriasGrasa">Calorias Grasa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grasaTotal"><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTotal">Grasa Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grasaSaturada"><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaSaturada">Grasa Saturada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grasaInsaturada"><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaInsaturada">Grasa Insaturada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grasaTrans"><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTrans">Grasa Trans</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colesterol"><span jhiTranslate="jhipsterSampleApplicationApp.producto.colesterol">Colesterol</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sodio"><span jhiTranslate="jhipsterSampleApplicationApp.producto.sodio">Sodio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carbohidrato"><span jhiTranslate="jhipsterSampleApplicationApp.producto.carbohidrato">Carbohidrato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fibraDietaria"><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraDietaria">Fibra Dietaria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fibraInsoluble"><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraInsoluble">Fibra Insoluble</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fibraSoluble"><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraSoluble">Fibra Soluble</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="azucares"><span jhiTranslate="jhipsterSampleApplicationApp.producto.azucares">Azucares</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proteina"><span jhiTranslate="jhipsterSampleApplicationApp.producto.proteina">Proteina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vitaminaA"><span jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaA">Vitamina A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vitaminaC"><span jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaC">Vitamina C</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calcio"><span jhiTranslate="jhipsterSampleApplicationApp.producto.calcio">Calcio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hierro"><span jhiTranslate="jhipsterSampleApplicationApp.producto.hierro">Hierro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gluten"><span jhiTranslate="jhipsterSampleApplicationApp.producto.gluten">Gluten</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="azucar"><span jhiTranslate="jhipsterSampleApplicationApp.producto.azucar">Azucar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="integral"><span jhiTranslate="jhipsterSampleApplicationApp.producto.integral">Integral</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCreacion"><span jhiTranslate="jhipsterSampleApplicationApp.producto.fechaCreacion">Fecha Creacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaUltimaModificacion"><span jhiTranslate="jhipsterSampleApplicationApp.producto.fechaUltimaModificacion">Fecha Ultima Modificacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estadoActivo"><span jhiTranslate="jhipsterSampleApplicationApp.producto.estadoActivo">Estado Activo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigoDeBarras"><span jhiTranslate="jhipsterSampleApplicationApp.producto.codigoDeBarras">Codigo De Barras</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unidadPorcion.abreviacion"><span jhiTranslate="jhipsterSampleApplicationApp.producto.unidadPorcion">Unidad Porcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unidadMedidaCasera.abreviacion"><span jhiTranslate="jhipsterSampleApplicationApp.producto.unidadMedidaCasera">Unidad Medida Casera</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca.nombreMarca"><span jhiTranslate="jhipsterSampleApplicationApp.producto.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoria.nombreCategoria"><span jhiTranslate="jhipsterSampleApplicationApp.producto.categoria">Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productos ;trackBy: trackId">
                <td><a [routerLink]="['/producto', producto.id, 'view' ]">{{producto.id}}</a></td>
                <td>{{producto.nombreAlimento}}</td>
                <td>{{producto.tamanoPorcion}}</td>
                <td>{{producto.medidaCasera}}</td>
                <td>{{producto.valorEnergetico}}</td>
                <td>{{producto.caloriasGrasa}}</td>
                <td>{{producto.grasaTotal}}</td>
                <td>{{producto.grasaSaturada}}</td>
                <td>{{producto.grasaInsaturada}}</td>
                <td>{{producto.grasaTrans}}</td>
                <td>{{producto.colesterol}}</td>
                <td>{{producto.sodio}}</td>
                <td>{{producto.carbohidrato}}</td>
                <td>{{producto.fibraDietaria}}</td>
                <td>{{producto.fibraInsoluble}}</td>
                <td>{{producto.fibraSoluble}}</td>
                <td>{{producto.azucares}}</td>
                <td>{{producto.proteina}}</td>
                <td>{{producto.vitaminaA}}</td>
                <td>{{producto.vitaminaC}}</td>
                <td>{{producto.calcio}}</td>
                <td>{{producto.hierro}}</td>
                <td>{{producto.gluten}}</td>
                <td>{{producto.azucar}}</td>
                <td>{{producto.integral}}</td>
                <td>{{producto.fechaCreacion | date:'medium'}}</td>
                <td>{{producto.fechaUltimaModificacion | date:'medium'}}</td>
                <td>{{producto.estadoActivo}}</td>
                <td>{{producto.codigoDeBarras}}</td>
                <td>
                    <div *ngIf="producto.unidadPorcion">
                        <a [routerLink]="['../unidad-medida', producto.unidadPorcion?.id, 'view' ]" >{{producto.unidadPorcion?.abreviacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.unidadMedidaCasera">
                        <a [routerLink]="['../unidad-medida', producto.unidadMedidaCasera?.id, 'view' ]" >{{producto.unidadMedidaCasera?.abreviacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.marca">
                        <a [routerLink]="['../marca', producto.marca?.id, 'view' ]" >{{producto.marca?.nombreMarca}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.categoria">
                        <a [routerLink]="['../categoria', producto.categoria?.id, 'view' ]" >{{producto.categoria?.nombreCategoria}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'producto', { outlets: { popup: producto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="productos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
