<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producto">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.nombreAlimento">Nombre Alimento</span></dt>
                <dd>
                    <span>{{producto.nombreAlimento}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.tamanoPorcion">Tamano Porcion</span></dt>
                <dd>
                    <span>{{producto.tamanoPorcion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.medidaCasera">Medida Casera</span></dt>
                <dd>
                    <span>{{producto.medidaCasera}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.valorEnergetico">Valor Energetico</span></dt>
                <dd>
                    <span>{{producto.valorEnergetico}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.caloriasGrasa">Calorias Grasa</span></dt>
                <dd>
                    <span>{{producto.caloriasGrasa}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTotal">Grasa Total</span></dt>
                <dd>
                    <span>{{producto.grasaTotal}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaSaturada">Grasa Saturada</span></dt>
                <dd>
                    <span>{{producto.grasaSaturada}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaInsaturada">Grasa Insaturada</span></dt>
                <dd>
                    <span>{{producto.grasaInsaturada}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.grasaTrans">Grasa Trans</span></dt>
                <dd>
                    <span>{{producto.grasaTrans}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.colesterol">Colesterol</span></dt>
                <dd>
                    <span>{{producto.colesterol}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.sodio">Sodio</span></dt>
                <dd>
                    <span>{{producto.sodio}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.carbohidrato">Carbohidrato</span></dt>
                <dd>
                    <span>{{producto.carbohidrato}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraDietaria">Fibra Dietaria</span></dt>
                <dd>
                    <span>{{producto.fibraDietaria}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraInsoluble">Fibra Insoluble</span></dt>
                <dd>
                    <span>{{producto.fibraInsoluble}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.fibraSoluble">Fibra Soluble</span></dt>
                <dd>
                    <span>{{producto.fibraSoluble}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.azucares">Azucares</span></dt>
                <dd>
                    <span>{{producto.azucares}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.proteina">Proteina</span></dt>
                <dd>
                    <span>{{producto.proteina}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaA">Vitamina A</span></dt>
                <dd>
                    <span>{{producto.vitaminaA}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.vitaminaC">Vitamina C</span></dt>
                <dd>
                    <span>{{producto.vitaminaC}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.calcio">Calcio</span></dt>
                <dd>
                    <span>{{producto.calcio}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.hierro">Hierro</span></dt>
                <dd>
                    <span>{{producto.hierro}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.gluten">Gluten</span></dt>
                <dd>
                    <span>{{producto.gluten}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.azucar">Azucar</span></dt>
                <dd>
                    <span>{{producto.azucar}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.integral">Integral</span></dt>
                <dd>
                    <span>{{producto.integral}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.fechaCreacion">Fecha Creacion</span></dt>
                <dd>
                    <span>{{producto.fechaCreacion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.fechaUltimaModificacion">Fecha Ultima Modificacion</span></dt>
                <dd>
                    <span>{{producto.fechaUltimaModificacion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.estadoActivo">Estado Activo</span></dt>
                <dd>
                    <span>{{producto.estadoActivo}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.codigoDeBarras">Codigo De Barras</span></dt>
                <dd>
                    <span>{{producto.codigoDeBarras}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.unidadPorcion">Unidad Porcion</span></dt>
                <dd>
                    <div *ngIf="producto.unidadPorcion">
                        <a [routerLink]="['/unidad-medida', producto.unidadPorcion?.id, 'view']">{{producto.unidadPorcion?.abreviacion}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.unidadMedidaCasera">Unidad Medida Casera</span></dt>
                <dd>
                    <div *ngIf="producto.unidadMedidaCasera">
                        <a [routerLink]="['/unidad-medida', producto.unidadMedidaCasera?.id, 'view']">{{producto.unidadMedidaCasera?.abreviacion}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.marca">Marca</span></dt>
                <dd>
                    <div *ngIf="producto.marca">
                        <a [routerLink]="['/marca', producto.marca?.id, 'view']">{{producto.marca?.nombreMarca}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.categoria">Categoria</span></dt>
                <dd>
                    <div *ngIf="producto.categoria">
                        <a [routerLink]="['/categoria', producto.categoria?.id, 'view']">{{producto.categoria?.nombreCategoria}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of producto.tags; let last = last">
                        <a [routerLink]="['/tags', tags?.id, 'view' ]">{{tags.descripcion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.producto.nutrientesAdicionales">Nutrientes Adicionales</span></dt>
                <dd>
                    <span *ngFor="let nutrientesAdicionales of producto.nutrientesAdicionales; let last = last">
                        <a [routerLink]="['/nutrientes-adicionales', nutrientesAdicionales?.id, 'view' ]">{{nutrientesAdicionales.descripcion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto', producto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
