<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-unidad-medida-heading" jhiTranslate="jhipsterSampleApplicationApp.unidadMedida.home.createOrEditLabel">Create or edit a Unidad Medida</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.unidadMedida.abreviacion" for="field_abreviacion">Abreviacion</label>
                    <input type="text" class="form-control" name="abreviacion" id="field_abreviacion"
                           formControlName="abreviacion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.unidadMedida.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.unidadMedida.valorConversion" for="field_valorConversion">Valor Conversion</label>
                    <input type="number" class="form-control" name="valorConversion" id="field_valorConversion"
                           formControlName="valorConversion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.unidadMedida.unidadBase" for="field_unidadBase">Unidad Base</label>
                    <select class="form-control" id="field_unidadBase" name="unidadBase" formControlName="unidadBase">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoUnidadMedidaOption.id === editForm.get('unidadBase').value?.id ? editForm.get('unidadBase').value : tipoUnidadMedidaOption" *ngFor="let tipoUnidadMedidaOption of tipounidadmedidas; trackBy: trackTipoUnidadMedidaById">{{tipoUnidadMedidaOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
