<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sugerenciaProducto">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.detail.title">Sugerencia Producto</span> {{sugerenciaProducto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.nombreAlimento">Nombre Alimento</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.nombreAlimento}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.tamanoPorcion">Tamano Porcion</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.tamanoPorcion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.medidaCasera">Medida Casera</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.medidaCasera}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.valorEnergetico">Valor Energetico</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.valorEnergetico}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.caloriasGrasa">Calorias Grasa</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.caloriasGrasa}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.grasaTotal">Grasa Total</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.grasaTotal}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.grasaSaturada">Grasa Saturada</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.grasaSaturada}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.grasaInsaturada">Grasa Insaturada</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.grasaInsaturada}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.grasaTrans">Grasa Trans</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.grasaTrans}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.colesterol">Colesterol</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.colesterol}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.sodio">Sodio</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.sodio}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.carbohidrato">Carbohidrato</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.carbohidrato}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.fibraDietaria">Fibra Dietaria</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.fibraDietaria}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.fibraInsoluble">Fibra Insoluble</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.fibraInsoluble}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.fibraSoluble">Fibra Soluble</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.fibraSoluble}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.azucares">Azucares</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.azucares}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.proteina">Proteina</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.proteina}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.vitaminaA">Vitamina A</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.vitaminaA}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.vitaminaC">Vitamina C</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.vitaminaC}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.calcio">Calcio</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.calcio}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.hierro">Hierro</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.hierro}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.gluten">Gluten</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.gluten}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.azucar">Azucar</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.azucar}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.integral">Integral</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.integral}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.fechaCreacion">Fecha Creacion</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.fechaCreacion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.fechaUltimaModificacion">Fecha Ultima Modificacion</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.fechaUltimaModificacion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.estadoActivo">Estado Activo</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.estadoActivo}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.codigoDeBarras">Codigo De Barras</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.codigoDeBarras}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.imagen">Imagen</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.imagen}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.observaciones">Observaciones</span></dt>
                <dd>
                    <span>{{sugerenciaProducto.observaciones}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.estadoSugerencia">Estado Sugerencia</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.EstadoSugerencia.' + sugerenciaProducto.estadoSugerencia}}">{{sugerenciaProducto.estadoSugerencia}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.unidadPorcion">Unidad Porcion</span></dt>
                <dd>
                    <div *ngIf="sugerenciaProducto.unidadPorcion">
                        <a [routerLink]="['/unidad-medida', sugerenciaProducto.unidadPorcion?.id, 'view']">{{sugerenciaProducto.unidadPorcion?.abreviacion}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.unidadMedidaCasera">Unidad Medida Casera</span></dt>
                <dd>
                    <div *ngIf="sugerenciaProducto.unidadMedidaCasera">
                        <a [routerLink]="['/unidad-medida', sugerenciaProducto.unidadMedidaCasera?.id, 'view']">{{sugerenciaProducto.unidadMedidaCasera?.abreviacion}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.marca">Marca</span></dt>
                <dd>
                    <div *ngIf="sugerenciaProducto.marca">
                        <a [routerLink]="['/marca', sugerenciaProducto.marca?.id, 'view']">{{sugerenciaProducto.marca?.nombreMarca}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.categoria">Categoria</span></dt>
                <dd>
                    <div *ngIf="sugerenciaProducto.categoria">
                        <a [routerLink]="['/categoria', sugerenciaProducto.categoria?.id, 'view']">{{sugerenciaProducto.categoria?.nombreCategoria}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of sugerenciaProducto.tags; let last = last">
                        <a [routerLink]="['/tags', tags?.id, 'view' ]">{{tags.descripcion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.sugerenciaProducto.nutrientesAdicionales">Nutrientes Adicionales</span></dt>
                <dd>
                    <span *ngFor="let nutrientesAdicionales of sugerenciaProducto.nutrientesAdicionales; let last = last">
                        <a [routerLink]="['/nutrientes-adicionales', nutrientesAdicionales?.id, 'view' ]">{{nutrientesAdicionales.descripcion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sugerencia-producto', sugerenciaProducto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
